<footer class="bg-white px-2 py-1 my-3 mt-3 rounded-2">

    <div class="row">
        <div class="col-12 col-md-4 col-xl-6 mb-4 mb-md-0">
            <p class="mb-0 text-center text-lg-start">
                Copyright © 2022-2023 <a class="nav-link text-secondary" href="https://masleap.io/">Masleap Plc.</a>
            </p>
        </div>
        <div class="col-12 col-md-8 col-xl-6 text-center text-lg-start">
            <!-- List -->
            <ul class="nav d-flex justify-content-between">
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="https://masleap.io/">Copyright © 2022-2023 Masleap Plc.</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="#">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="#">Terms and conditions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>

</footer>
