<footer class="bg-white px-2 py-1 my-3 mt-3 rounded-2">
    <div class="row">
        <div class="col-12 col-md-8 col-xl-6 text-center text-lg-start">
            <!-- List -->
            <ul class="nav d-flex justify-content-between">
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="https://dace-it.us/">Copyright © 2023 Dace IT℠ with Sense Traffic Pulse™
</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="https://dace-it.us/support/privacy-policy/">Terms and conditions<>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="https://dace-it.us/#section-57184">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="https://azuremarketplace.microsoft.com/en-us/marketplace/apps?search=dace&page=1">Apps</a>
                </li>
            </ul>
        </div>
    </div>

</footer>
