<div class="modal fade" id="importChannelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Import channel</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" class="pop-up-form__form" id="import_channel_form"
                      enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="mb-3" id="input-thumbnail">
                        <label for="csv_file" class="form-label">Drag & Drop or Choose File to Import</label>
                        <input type="file" class="form-control" accept=".xlsx, .xls, .csv"
                               name="csv_file" id="csv_file">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" form="import_channel_form">Import</button>
            </div>
        </div>
    </div>
</div>
